# Ignore Virtual enviornment
Virtual/
.env


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# unit tests /coverage reports
.cache
.pytest_cache
*.pyc
pytestdebug.log
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Ignore all __pycache__ directories and their contents
__pycache__/


# Ignore specific .pyc files in tests/__pycache__
tests/__pycache__/*.pyc

# Add other files or directories that should be ignored
# For example:
# config.py
# .env
# build/
