# Database Configuration
DB_NAME=medicalapp
SQL_USERNAME=your_username
SQL_PASSWORD=your_password
SQL_HOST=host
SQL_PORT=port

# Email Configuration
EMAIL_HOST_USER=your_email@gmail.com
EMAIL_HOST_PASSWORD=your_email_password



EMAIL_HOST_USER=your_email@gmail.com
EMAIL_HOST_PASSWORD=your_email_password